<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WindowsService_1C.ConvertingToJSONService">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.14.86:8000/IConvertingToJSON"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  behaviorConfiguration="webBehavior"
                  binding="webHttpBinding"
                  contract="WindowsService_1C.IConvertingToJSON"/>
        <!--<endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>-->
      </service>
    </services>
    <bindings>
     <!--<webHttpBinding>
        <binding>
          <readerQuotas maxDepth="32"
                        maxStringContentLength="8192"
                        maxArrayLength="16384"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
         
          <security mode="Transport"></security>
        </binding>
      </webHttpBinding>-->
      </bindings>
    <behaviors>
      <!--<serviceBehaviors>
        <behavior name="ConvertingJSONBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>-->
      <endpointBehaviors>
        <behavior name ="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>